.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 16px;
  border: 1px solid rgba(255,255,255,0.1);
  color: white;
}

.highlight {
  background: #5eead4;
  padding: 6px 10px;
  border-radius: 8px;
  color: black;
  font-weight: bold;
}